<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCRPageLayoutAvoidsWidowsAndOrphansKey</key>
	<false/>
	<key>SCRPageLayoutBottomMarginKey</key>
	<real>1</real>
	<key>SCRPageLayoutBottomUnitsKey</key>
	<integer>1</integer>
	<key>SCRPageLayoutIndexCardsEmboldenTitlesKey</key>
	<true/>
	<key>SCRPageLayoutIndexCardsFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsy
	NGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgAmACG
	</data>
	<key>SCRPageLayoutIndexCardsForceLandscapeKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsIgnoreTitlesOnlyKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsOverrideFontKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsPrintCardNumbersKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsPrintCuttingGuideKey</key>
	<true/>
	<key>SCRPageLayoutIndexCardsPrintKeywordsKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsPrintLabelKey</key>
	<true/>
	<key>SCRPageLayoutIndexCardsPrintTitlesKey</key>
	<true/>
	<key>SCRPageLayoutInsertCommentsKey</key>
	<true/>
	<key>SCRPageLayoutLeftMarginKey</key>
	<real>1</real>
	<key>SCRPageLayoutLeftUnitsKey</key>
	<integer>1</integer>
	<key>SCRPageLayoutOutlineFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVsz
	NmNdBgAAABoAAAD//kwAdQBjAGkAZABhAEcAcgBhAG4AZABlAAAAhAFmC4QBYwCYAZgA
	mACG
	</data>
	<key>SCRPageLayoutOutlineIndentLevelsKey</key>
	<true/>
	<key>SCRPageLayoutOutlinePrefixTitlesWithNumberKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintCharacterCountKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintCustomMetaDataKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintKeywordsKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintLabelAndStatusKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintSynopsesKey</key>
	<true/>
	<key>SCRPageLayoutOutlinePrintTargetsKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintTitlesKey</key>
	<true/>
	<key>SCRPageLayoutOutlinePrintWordCountKey</key>
	<false/>
	<key>SCRPageLayoutOutlinerPrintFilenameKey</key>
	<false/>
	<key>SCRPageLayoutOverrideFontKey</key>
	<false/>
	<key>SCRPageLayoutPrintFilenameAndDateKey</key>
	<true/>
	<key>SCRPageLayoutPrintMetaDataKey</key>
	<false/>
	<key>SCRPageLayoutPrintNotesKey</key>
	<false/>
	<key>SCRPageLayoutPrintPageNumbersKey</key>
	<true/>
	<key>SCRPageLayoutPrintSynopsisKey</key>
	<false/>
	<key>SCRPageLayoutPrintTextKey</key>
	<true/>
	<key>SCRPageLayoutPrintTitleKey</key>
	<false/>
	<key>SCRPageLayoutPrintWebBackgroundsKey</key>
	<false/>
	<key>SCRPageLayoutPrintingFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsy
	NGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgAmACG
	</data>
	<key>SCRPageLayoutRemoveAnnotationsKey</key>
	<false/>
	<key>SCRPageLayoutRightMarginKey</key>
	<real>1</real>
	<key>SCRPageLayoutRightUnitsKey</key>
	<integer>1</integer>
	<key>SCRPageLayoutScaleImagesToFitKey</key>
	<false/>
	<key>SCRPageLayoutTopMarginKey</key>
	<real>1</real>
	<key>SCRPageLayoutTopUnitsKey</key>
	<integer>1</integer>
</dict>
</plist>
